<h1 class="my-5"> Add new task </h1>

<div class="container justify-content-center">
  <%= simple_form_for @task do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.submit %>
  <% end %>
</div>
